body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg.jpg);
    background-position: center;
    background-size: cover;
}




.container {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.input-field {
    text-align: center;
}

input[type="text"] {
    color: #fff;
    border: none;
    background-color: rgb(5, 85, 85);
    max-width: 400px;
}

.todos li {
    background-color: #fff;
    color: rgb(5, 85, 85);
    font-weight: bold;
   
}

.delete {
    cursor: pointer;
    color: red;
  
}

h1 {
    color: rgb(5, 85, 85);
    font-size: 2rem;
    text-transform: uppercase;
    
}

form{
    display: flex;
    align-items: center;
}